body {
  background: transparent;
}

body, ul, li {
  max-width: 100%;
  max-height: 100%;
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 1rem;
  text-decoration: none;
  overflow-x: hidden;
}

:root {
  --text-color: #4e5666;
  --primary-color: #50b4f2;
  --body-background: #cccccc;
  --footer-background: #c2c1c1;
  --primary-white: #fff;
  --primary-black: #4e5666;
  --link-background: #a5a5a5;
  --linear-gradient: (#eb1d1d, #fff);
  --shadow: rgba(0, 0, 0, .2);
}

* {
  font-family: "Roboto", sans-serif;
}

.logo{
  width: 06%;
  height: 06%;
  padding: 0 15rem 0 0;
}

header {
  width: 100%;
  min-height: 3em;
  max-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-background
{
  width: 18.3vw;
  max-height: 100%;
  position: absolute;
  top: 8%;
  right: 6%;
  z-index: -1;
}





.menu {
  display: flex;
}

.menu li {
  padding: 0 2rem 0;
}

.menu li a {
  color: var(--primary-black);
  transition: ease-in 0.2s;
}

.menu li a:hover {
  cursor: pointer;
  color: var(--primary-color);
  box-shadow: 0 5px;
}

.presentation
{
  display: flex;
  width: 90%;
  align-items: center;
  margin: auto;
  min-height: 80vh;
}

.introduction
{
  flex: 1;
  padding: 0 0 0 8rem;
}

.intro-text h1
{
  font-size: 44px;
  font-weight: 700;
  background: linear-gradient(to right, var(--primary-color), var(--primary-white));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro-text p
{
  margin-top: 5px;
  font-size: 22px;
  color: var(--text-color);
  max-width: 50%;
}

.button
{
  padding: 50px 0 0 0;
}

.press-button
{
  font-size: 16px;
  border: 2px solid var(--primary-color);
  background: var(--primary-color);
  color: var(--primary-white);
  width: 160px;
  height: 60px;
  border-radius: 6px;
  cursor: pointer;
  outline: none;
  transition: 0.3s
}

.press-button:hover
{
  border: 2px solid var(--primary-color);
  background: transparent;
  color: var(--primary-color);

  transition: 0.3s;
  
}

.container {
  width: 100%;
  max-height: 90%;
  margin-top: 30px;
}

.cto-container
{
  width: 90%;
  max-height: 90%;
  text-align: center;
  box-shadow: 1rem 1em 4rem var(--shadow);
  border-radius: 20px;
  margin: auto;
  padding: 2rem;
}

.cto-container h1
{
  font-size: 32px;
  font-weight: 700;
  color: var(--text-color);
}


.container .cards {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  
  
  padding: 2rem;
}
.container .cards .card {
  display: flex;
  text-align: center;
  margin: 0rem 3rem;
  flex-direction: column;
  align-items: center;
}

.container .cards .card p
{
  text-align: justify;
  text-indent: 08%;
  line-height: 25px;
  color: var(--text-color);
}

.card img
{
  width: 250px;
  height: 250px;
}

.card h2
{
  color: var(--primary-color);
  margin: 0;
  padding: 0;
}

.card h3
{
  color: var(--text-color);
  margin: 0;
  padding: 0;
}


/* SVG's */
.background-svg {
  position: absolute;
  top: -20%;
  right: -5%;
  z-index: 1;
  opacity: 0.8;
}

/*# sourceMappingURL=syle.css.map */

#menu.nav{
  background: black;
}

/* GEOMETRIC CIRCLE */


footer
{
  max-width: 100%;
  height: 20vh;
  background-color: var(--text-color);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;

  color: var(--primary-white);
}